{erl_opts, [debug_info]}.

{plugins, [rebar3_hex]}.

{deps, [
]}.

{profiles, [
    {test, [
        {deps, [
            {erlperf, "2.2.0"}
        ]}
    ]}
]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -s -C c_src"},
   {"(freebsd)", compile, "gmake  -s -C c_src"}]}.

{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.

